.button{
    width: 230px;
    height: 40px;
    border-radius: 5px;
    background: #CD2E71;
    border:none;
    color: #FFF;
    text-align: center;
    font-family: sen;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 45px;
    margin-bottom: 60px;
    align-items: right;
    margin-left: 990px;
}

.button:active {
    transform: scale(1.1);
}